:root {
  color: white;
  font-family: sans-serif;
  --lighter-color: #1f2937;
  --lighter-color-less-opacity: #1f29374b;
  --darker-color: #111827;
  --day-color: linear-gradient(#4fbeff, var(--darker-color));
  --night-color: linear-gradient(black, var(--darker-color));
  --dialog-color: #15213b;
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body:has(.home) {
  background-color: black;
}
.home {
  font-size: 3rem;
}

.main {
  font-size: 1rem;
  flex-grow: 1;
  margin: auto;

  /* background-color: var(--lighter-color); */
  max-width: min-content;
}
.date-container {
  display: flex;
  flex-direction: column;
}
.loading-icon {
  animation: rotate-loading 1s infinite;
}
.loading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main:has(.error-div) {
  max-width: fit-content;
  text-align: center;
}
.error-div {
  text-align: center;
  width: fit-content;
}
@keyframes rotate-loading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.main > div {
  margin: 20px 10px;
  padding-bottom: 20px;
}
.weather-top {
  padding-top: 0px;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.location-container {
  font-size: 2rem;
  margin-right: auto;
  margin-left: 10px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
span.feelslike-container,
span.weather-description {
  flex-basis: 100%;
}
.temperature-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-size: 1rem;
}
.temperature-info-container > * {
  flex: 1;
  margin: 0;
}

.min-temperature::after {
}

/* span[class*="temperature"]::after {
  content: attr(data-scale);
  text-transform: uppercase;
  margin-left: 5px; */
/* } */
span[data-scale]::after {
  content: attr(data-scale);
  margin-left: 3px;
}

.average-temperature {
  font-size: 1.8rem;
}
.average-temperature::before {
  content: " ";
  background-image: url("../assets/weather-icons/term_icon.png");
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.min-max-container {
  display: flex;
  column-gap: 20px;
}

.weather-mid {
  display: grid;
  grid-template-areas:
    "humidity moon wind"
    "sunrise sunset uvindex"
    "precipitation  precipitation precipitation";
  gap: 20px;
}
/* //i can use data attributes */
.humidity-container {
  grid-area: humidity;
}
.moon-container {
  grid-area: moon;
}
.uvIndex-container {
  grid-area: uvindex;
}
.precipitationChance-container {
  grid-area: precipitation;
}
.sunset-container {
  grid-area: sunset;
}
.sunrise-container {
  grid-area: sunrise;
}
.additional-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid var(--darker-color);
  padding: 5px 5px;
  white-space: nowrap;
}
.additional-container span[data-icon]::before {
  content: " ";

  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.additional-container span[data-icon="moon_icon"]::before {
  background-image: url("../assets/weather-icons/moon_icon.png");
}
.additional-container span[data-icon="humidity_icon"]::before {
  background-image: url("../assets/weather-icons/humidity_icon.png");
}
.additional-container span[data-icon="wind_icon"]::before {
  background-image: url("../assets/weather-icons/wind_icon.png");
}
.additional-container > :first-child {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.additional-container > :nth-child(2) {
  margin-left: 30px;
}

.hours-chart {
  display: grid;
  font-size: 0.8rem;
  column-gap: 10px;
  row-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
}
.hours-chart img {
  width: 32px;
  height: 32px;
}

.hour-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  flex-basis: 20%;
}
.hour-information span:first-child {
  font-size: 0.9rem;
  font-weight: bolder;
}

.next-days-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.next-day-container {
  display: grid;
  grid-template-areas:
    "date date date"
    "weekday moon temperature"
    "icon . temperature"
    "icon precipitation temperature";
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 3rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
}
.next-day-container:nth-child(even) {
  background-color: var(--lighter-color-less-opacity);
}

.next-day-container .day-of-the-week {
  grid-area: weekday;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
.next-day-container > * {
  border: 0;
}
.next-day-container .date {
  grid-area: date;
  padding-bottom: 20px;
}
.next-day-container .moon {
  grid-area: moon;
}
.next-day-container .precipitation {
  grid-area: precipitation;
}
.next-day-container .temperature-info-container {
  grid-area: temperature;
  margin-left: auto;
  * {
    flex: 0;
  }
}
.next-day-container .icon-container {
  align-self: center;
  grid-area: icon;
}
