:root {
  background-color: var(--darker-color);
  color: white;
  font-family: sans-serif;
  --lighter-color: #1f2937;
  --darker-color: #111827;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  align-items: start;
  height: 80vh;
}
.main {
  font-size: 1rem;
  width: 80vw;
  background-color: var(--lighter-color);
}

.search-container input {
  height: 2rem;
  width: 300px;
  border-radius: 8px;
  outline: none;
  border: 1px solid white;
}

.main > div {
  margin: 20px 10px;
  padding-bottom: 20px;
}
.weather-top {
  padding-top: 0px;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  justify-content: space-around;
}
.location-container {
  font-size: 2rem;
  margin-right: auto;
  margin-left: 10px;
}
.temperature-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-size: 1rem;
}
.temperature-info-container > * {
  flex: 1;
  margin: 0;
}

.min-temperature::after {
}

/* span[class*="temperature"]::after {
  content: attr(data-scale);
  text-transform: uppercase;
  margin-left: 5px; */
/* } */
span[data-scale]::after {
  content: attr(data-scale);
  margin-left: 3px;
}

.average-temperature {
  font-size: 1.8rem;
}
.average-temperature::before {
  content: " ";
  background-image: url("../assets/weather-icons/term_icon.png");
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.min-max-container {
  display: flex;
  column-gap: 20px;
}

.weather-mid {
  display: flex;
  gap: 20px;
}
.weather-mid .additional-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid var(--darker-color);
  padding: 5px 5px;
}
.weather-mid .additional-container span[data-icon]::before {
  content: " ";

  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.weather-mid .additional-container span[data-icon="moon_icon"]::before {
  background-image: url("../assets/weather-icons/moon_icon.png");
}
.weather-mid .additional-container span[data-icon="humidity_icon"]::before {
  background-image: url("../assets/weather-icons/humidity_icon.png");
}
.weather-mid .additional-container span[data-icon="wind_icon"]::before {
  background-image: url("../assets/weather-icons/wind_icon.png");
}
.additional-container > :first-child {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.additional-container > :nth-child(2) {
  margin-left: 30px;
}
