:root {
  background-color: var(--darker-color);
  color: white;
  font-family: sans-serif;
  --lighter-color: #1f2937;
  --darker-color: #111827;
}

body {
  display: grid;
  place-items: center;
  align-items: start;
  height: 80vh;
}
.main {
  font-size: 1.3rem;
  width: 80vw;
  background-color: var(--lighter-color);
}

.search-container input {
  height: 2rem;
  width: 300px;
  border-radius: 8px;
  outline: none;
  border: 1px solid white;
}

.weather-top {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  justify-content: space-around;
}
.location-container {
  font-size: 2rem;
}
.temperature-info-container {
  display: flex;
  flex-direction: column;
}
